body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:lightblue;
}

.logo {
    max-width: 120px;
    height: auto;
}

nav {
    display: flex;
}

nav a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #333;
    color: #fff;
}
nav a.active {
    background-color: #333;
    color: #fff;
}
.model-photo {
    text-align: center;
    margin-top: 20px;
}

.model-photo img {
    max-width: 100%;
    height: auto;
}
